body{
    background-color: #f2ebfa;
}
.navStyles{
    background-color: #412a4f;
}
p {
    margin: auto .5rem;
    padding: 1.5rem;
    border: solid 5px #412a4f;
    text-align: center;
    font-family: 'Khand', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
}
.divStyles {
    margin: auto;
    padding: .2rem;
}
h2 {
    text-align: center;
    font-family: 'Bangers', cursive;
    font-size: 3rem;
    margin: auto;
    border-width: .5rem;
    color:  #008040;
}
.imgStyles{
    width: 85%;
    margin: 1rem 1rem 1rem 8%;
}
.dots {
    border-top: 1rem dotted  #cccccc;
    padding: 0px;
    margin: 5rem auto;
    width: 15%;
}
.resize {
    width: 25%;
    margin-left: 38%;
    padding-bottom: 4rem;
}

.logo {
    width: 2rem;
    margin-bottom: .5rem;
    margin-left: 1rem;
    display: inline;
}
h4 {
    font-family: 'Khand', sans-serif;
    padding-left: 1rem;
    color: white;
    width: 100%;
    display: inline;
}
footer {
    background-color: #412a4f;
    padding-top: 1rem;
}