<div class="container">
    <h2>What can you donate?</h2>
    <p class= "pDonate">
        Drop off at 1001 Meadow Lane <br>2pm - 8pm M-T-W-TH
    </p>
    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-3 galleryStyles">
            <h5>Prepackaged Sandwiches</h5>
            <img class="galleryImg" src="images/sandwich.png" alt="">
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3 galleryStyles">
            <h5>First Aid Supplies</h5>
            <img class="galleryImg" src="images/firstAid.png" alt="">
            
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3 galleryStyles">
            <h5>Energy Drinks</h5>
            <img class="galleryImg" src="images/energyDrink.png" alt="">
            
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3 galleryStyles">
            <h5>Cigarettes</h5>
            <img class="galleryImg" src="images/cigarettes.png" alt="">
            
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3 galleryStyles">
            <h5>Prepackaged Snacks</h5>
            <img class="galleryImg" src="images/snack.png" alt="">
            
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3 galleryStyles">
            <h5>Water</h5>
            <img class="galleryImg" src="images/water.png" alt="">
            
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3 galleryStyles">
            <h5>Masks</h5>
            <img class="galleryImg" src="images/mask.png" alt="">
            
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3 galleryStyles">
            <h5>COVID Sanitary Supplies</h5>
            <img class="galleryImg" src="images/spray.png" alt="">
            
        </div>
        <hr class="dots">    
    </div>
</div>
<div class="container">
    <p class="pCash">We also take cash donations!</p>
    <div class="row align-items-center">
        <div class="col-xs-12 col-md-6">
            <div class="text-center">
                <a class="btn btn-primary btn-lg"  href="https://www.venmo.com" target="_blank" role="button">
                    Venmo
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="text-center">
                <a class="btn btn-success btn-lg" href="https://cash.app/" target="_blank" role="button">
                    Cash App
                </a>
            </div>
        </div>
        <hr class="dots">
    </div>
</div>