<h2>Dice Game</h2>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-lg-6 text-center">
            <p class="player">Player 1</p>
            <img src="images/dice1.png" alt="one" class="dice" id="dice1">
            <br>
            <button id="p1Roll" type="button" class="btn btn-lg btn-dark">P1 Roll</button>
            <br>
            <br>
            <br>
            <br>
        </div>
        <div class="col-xs-12 col-lg-6 text-center">
            <p class="player">{{pName}}</p>
            <img src="images/dice1.png" alt="one" class="dice" id="dice2">
            <br>
            <button id="p2Roll" type="button" class="btn btn-lg btn-dark">{{player}} Roll</button>
        </div>
    </div>
</div>
<hr class="dots">