<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>Join our mutual aid efforts</h2>
            <p class="pVolun">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae turpis massa sed elementum. Erat pellentesque adipiscing commodo elit at imperdiet dui accumsan. Lorem ipsum dolor sit amet consectetur adipiscing. Elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at augue. Faucibus et molestie ac feugiat sed lectus. Ac placerat vestibulum lectus mauris ultrices eros in cursus turpis. Neque vitae tempus quam pellentesque nec nam. Pharetra sit amet aliquam id diam maecenas ultricies. Odio tempor orci dapibus ultrices in. Purus faucibus ornare suspendisse sed nisi lacus sed..<br><br>
            </p>
        </div>
    </div>
</div>
<div id="msg" class="hidden" >
</div>
<form action="">
    <div class="container">
      <div class="row">
          <div class="col-xs-12 col-md-12 col-lg-12 form-group">
              <input id="fullName" class="form-control" type="text" placeholder="Full Name">
              <input id="email" class="form-control" type="text" placeholder="Email">
              <input id="reEmail" class="form-control" type="text" placeholder="Re-Enter Email">
              <input id="pro" class="form-control" type="text" placeholder="Pronouns EX: She/Her">
              <input id="race" class="form-control" type="text" placeholder="Race">
          </div>
      </div>
      <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-6 text-center">
                <button id="volun" type="button" class="btn btn-lg btn-dark">Volunteer</button>
            </div>
            <div class="col-xs-12 col-md-6 text-center">
              <button id="clearBtn" type="button" class="btn btn-lg btn-outline-dark">Clear</button>
            </div>
          </div>
      </div>
      <hr class="dots">
    </div>
</form>